#container-catalogo {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container_card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-left: 20px;
  width: 100%;
}

.img-slider {
  cursor: pointer;
  width: 250px;
  height: 300px;
  transition: all 0.2s;
}

.img-slider:focus {
  border: none;
  outline: none;
}

.img-slider:hover {
  transform: scale(1.1);
}

.title_categoria {
  margin-left: 20px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
